<!-- <section class="main_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 bg_1">
              <div class="headings">
                <div class="heading_text">
                  <h1>Choose Right Solution</h1>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>accusantium doloremque laudantium</p>
                  <button>Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 bg_2">
              <div class="">
                <div class="container">
                  <h2>Our Products</h2>
                  <p class="small_head">The best of the best is here</p>
                  <div class="card-group" *ngIf="products != null && products != undefined">
                    <div class="card" *ngFor="let item of test(products)" (click)="method(item)">
                     <img [src]="products[item].thumbnail" alt="">
                        <div class="card-body">
                            <h5 class="card-title"> {{item}}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->


      <section class="main_section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 bg_1">
                  <div class="heading_text">
                    <h1>Choose Right Solution</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>accusantium doloremque laudantium</p>
                    <button>Read More</button>
                  </div>
                </div>
                <div class="col-md-6 bg_2 meet_our_team">
                  <div class="">
                    <div class="container">
                      <h2>Meet Our Products</h2>
                      <p class="small_head">The best of the best is here</p>
                      <div class="row"  *ngIf="products != null && products != undefined">
                        <div class="col-md-4" *ngFor="let item of test(products)" (click)="method(item)">
                          <div class="our_team_inner">
                            <img [src]="products[item].thumbnail" alt="img">
                              <h3>{{item}}</h3>
                              <label>Last updated 3 mins ago</label>
                              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>